<section>

	<article class="slider">
		<div class="menu">
			<label for="slide-1-dot"></label>
			<label for="slide-2-dot"></label>
			<label for="slide-3-dot"></label>
		</div>	
		<div class="overflow">
			<div class="inner">
				<article>
					<input type="radio" name="inputSlider" id="slide-1-dot" checked>
					<div class="slide slide1"></div>
					<div class="tooltip">
						<h5>Lindy Hop</h5>
					</div>
					<div class="description">
						{{site.data.settings.lindyDesc}}
					</div>
				</article>
				<article>
					<input type="radio" name="inputSlider" id="slide-2-dot">
					<div class="slide slide2"></div>
					<div class="tooltip">
						<h5>Collegiate Shag</h5>
					</div>
					<div class="description">
						{{site.data.settings.shagDesc}}
					</div>
				</article>	
				<article>
					<input type="radio" name="inputSlider" id="slide-3-dot">
					<div class="slide slide3"></div>
					<div class="tooltip">
						<h5>Blues</h5>
					</div>
					<div class="description">
						{{site.data.settings.bluesDesc}}
					</div>
				</article>
			</div>
		</div>
	</article>
	
</section>