<section>
	<h3>About Me</h3>

	<div class="aboutme-grouping">
		<div class="myFace"></div>

		<div class="icon-portfolio">
			<i class="fas fa-pencil-alt fa-5x"></i>
		</div>

		<div class="icon-github">
			<i class="fab fa-github fa-5x"></i>
		</div>

	</div>

	<p class="description"><strong>Vestibulum ante ipsum primis</strong> in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Nulla quis lorem ut libero malesuada feugiat. Pellentesque in ipsum id orci porta dapibus. Donec rutrum congue leo eget malesuada. Quisque velit nisi, pretium ut lacinia in, elementum id enim. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus. Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat.</p>


	<div class="skills-grouping">
		<div class="skill-container">
			<div class="skill-unit">
				<div class="skill-name">Programming</div>
				<div class="skill-icon skill-7">
					<span></span><span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit">
				<div class="skill-name">Communication</div>
				<div class="skill-icon skill-7">
					<span></span><span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit">
				<div class="skill-name">Creativity</div>
				<div class="skill-icon skill-6">
					<span></span><span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit">
				<div class="skill-name">Teaching</div>
				<div class="skill-icon skill-5">
					<span></span><span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit">
				<div class="skill-name">Organisation</div>
				<div class="skill-icon skill-7">
					<span></span><span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit">
				<div class="skill-name">Learning</div>
				<div class="skill-icon skill-8">
					<span></span><span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit">
				<div class="skill-name">Planning</div>
				<div class="skill-icon skill-6">
					<span></span><span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span>
				</div>
			</div>
			<div class="skill-unit">
				<div class="skill-name">Teamwork</div>
				<div class="skill-icon skill-8">
					<span></span><span></span><span></span><span></span><span></span><span></span>
					<span></span><span></span><span></span><span></span>
				</div>
			</div>
		</div>
	</div>


</section>