<section class="alt-section section-work">
	<h3 id="work">Work</h3>

	<div class="work-belt">
		<div class="thumb-wrap">
			<div class="thumb-container">
				<div class="thumb-unit">
					<div class="thumb-overlay">
						<strong>Swing Dancing</strong>
					</div>	
				</div>
				<div class="thumb-unit">
					<div class="thumb-overlay">
						<strong>Project B</strong>
					</div>
				</div>
				<div class="thumb-unit">
					<div class="thumb-overlay">
						<strong>Project C</strong>
					</div>
				</div>
			</div>
		</div>
		<div class="work-wrap">	
			<div class="thumb-descriptions">
				<div class="arrowNav"></div>
				<h4>Work Description</h4>
				<div class="tempImg">Placeholder</div>
				<p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere blandit.</p>
				<div class="tempImg">Placeholder</div>
				<p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere blandit.</p>
				<div class="tempImg">Placeholder</div>
				<p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur aliquet quam id dui posuere blandit.</p>
			</div>
		</div>	
	</div>
		
</section>