
.container
	height: 80px
	width: 100%
	left: 0
	bottom: 0
	
	.wrapper
		margin: 0 auto
		width: 90%
		// This padding might not work with Mozilla
		padding: 0% 5% 2% 5%
		text-align: center
		+clearfix
		.copyRight
			float: left
		.footerText
			float: right